.additional {
  border-top: 3px solid $green;
}

.additional__title {
  position: relative;
  top: -17px;

  display: inline-block;
  margin: 0;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 25px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  background-color: white;

  @media (min-width: $tablet) {
    top: -24px;

    margin-left: 30px;
    margin-bottom: 55px;
    padding-left: 40px;
    padding-right: 39px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.additional__wrapper {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.additional__list {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 39px;
  padding: 0;

  border-top: 1px solid #e6e6e6;

  list-style: none;

  @media (min-width: $tablet) {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    width: 895px;
    margin-left: 40px;
    margin-right: 80px;
    margin-bottom: 87px;
  }
}

.additional__item {
  margin-left: 2px;
  padding-top: 14px;

  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 26px;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    padding-top: 14px;
  }
}

.additional__item-title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 26px;

    font-size: 20px;
    line-height: 20px;
  }
}

.additional__item-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;

  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet) {
    margin-bottom: 22px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    margin-right: 40px;
    margin-left: auto;
  }
}

.additional__item-amount {
  @media (min-width: $desktop) {
    width: 245px;
  }
}

.additional__item-price {
  @media (min-width: $tablet) {
    margin-left: 53px;
  }

  @media (min-width: $desktop) {
    width: 45px;
    margin-left: 0;
  }
}

.additional__link {
  width: 100%;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop) {
    width: 245px;
    margin-bottom: 16px;
  }
}

.additional__offer {
  position: relative;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
  padding-top: 65px;

  background-image: url(../img/gift-photo-mobile@1x.jpg);

  @media (min-width: $tablet) and (max-width: 1299px) {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 75px;
    padding-top: 65px;
    padding-left: 91px;

    background-image: url(../img/gift-photo-tablet@1x.jpg);
  }

  @media (min-width: $desktop) {
    width: 245px;
    margin: 0;
    margin-bottom: 87px;

    background-image: url(../img/gift-photo-desktop@1x.jpg);
  }
}

.additional__offer-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 62px;

  fill: white;

  @media (min-width: $tablet) and (max-width: 1299px) {
    margin: 0;
    margin-bottom: 75px;
    margin-right: 277px;
  }
}

.additional__offer-text {
  width: 160px;
  margin: 0 auto;
  padding-bottom: 42px;

  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;

  @media (min-width: $tablet) and (max-width: 1299px) {
    margin: 0;
    margin-top: 7px;

    text-align: left;
  }
}
