.main-catalog {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: $tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}

.main-catalog__title {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  @media (min-width: $tablet) {
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 165px;

    font-size: 60px;
  }

  @media (min-width: $desktop) {
    margin-top: 71px;
    margin-left: 40px;
  }
}
